<?xml version="1.0" encoding="UTF-8"?>
<xhtml:div xmlns:xhtml="http://www.w3.org/1999/xhtml">
    <xhtml:span class="text-anchor" id="noe_header"/>
    <xhtml:span class="text-anchor" id="titlepage_1_1_c"/>
    <xhtml:div class="half-title">
        <xhtml:div class="center-aligned">
            <xhtml:span class="pb">|c[1]|</xhtml:span> Anweisung <br/>zur <br/>Bildung angehender Theologen. <br/>Erster Theil.</xhtml:div>
    </xhtml:div> <xhtml:span class="pb">|c[2]|</xhtml:span> <xhtml:span class="text-anchor" id="section_1_1"/>
    <xhtml:div class="section">
        <xhtml:h2>1.</xhtml:h2>
        <xhtml:div class="p">Wenn die Bestimmung des Menschen und das höchste Ziel seiner Wünsche, wahre und dauerhafte Glückseligkeit, nicht auf dieses Erdenleben eingeschränkt ist;  wenn er, als ein vernünftiges Wesen, dieses Ziel anders nicht erreichen kann, als durch Weisheit und Tugend;  wenn die  Religion beide lehrt, unterhält, und dazu die kräftigste Ermunterung giebt, ja ohne sie, Weisheit, nicht wahre Weisheit, Tugend, nicht beständige Tugend seyn kann: so giebt es für den edeln Geist des Menschen keine würdigere Beschäftigung, als das Bestreben, die Religion aufs überzeugendste <xhtml:span class="hi">kennen zu lernen</xhtml:span> und aufs willigste <xhtml:span class="hi">auszuüben</xhtml:span>.</xhtml:div>
    </xhtml:div>
    <xhtml:span class="text-anchor" id="section_1_2"/>
    <xhtml:div class="section">
        <xhtml:h2>2.</xhtml:h2>
        <xhtml:div class="p">Sofern die Religion ein Gegenstand der <xhtml:span class="hi">Erkenntniß</xhtml:span> ist, kann man bei ihr, wie bei allen andern Gegenständen, einen Unterschied zwischen einer <xhtml:span class="hi">gemeinen</xhtml:span> und einer <xhtml:span class="hi">philosophischen</xhtml:span> Kenntniß derselben machen. Letztere findet nur da statt, wo eine Sache im vollständigen Zusammenhange mit  andern,  wie sie der Grund oder die Folge derselben ist, oder, mit andern Worten, wenn  sie wissenschaftlich erkannt wird. Sie ist in dem Grade vollkommener, je mit mehrern Dingen man sie so verbunden denkt, und je mehrere solcher Verbindungen  zwischen denselben eingesehen werden.</xhtml:div>
        <xhtml:div class="note">
            <xhtml:span class="pb">|c4|</xhtml:span> <xhtml:span class="hi">Zusammenhang</xhtml:span> wird hier nicht von jeder Verbindung genommen, als welche eben so wie die Vorstellung dieser Verbindung, zufällig und willkührlich seyn kann. Nur dann ist eine Erkenntniß <xhtml:span class="hi">philosophisch</xhtml:span>, wenn man einsieht,  wie etwas von dem Andern Grund oder Folge ist, oder wenn man das Eine aus dem Andern erklären kann.</xhtml:div>
    </xhtml:div>
    <xhtml:span class="text-anchor" id="section_1_3"/>
    <xhtml:div class="section">
        <xhtml:h2>3.</xhtml:h2>
        <xhtml:div class="p">Eine solche eigentlich zusammenhängende oder philosophische Kenntniß irgend einer Art von Gegenständen, macht eben den <xhtml:span class="hi">Kunstverständigen</xhtml:span> in weiterer Bedeutung aus, sofern er von dem bloß gemeinen Kenner, dem Studierten im weitesten Sinne (homme de lettres), dem bloß mechanisch Handelnden oder Arbeitenden unterschieden wird, und sodann jener Name eben sowohl den <xhtml:span class="hi">Gelehrten</xhtml:span> als den <xhtml:span class="hi">Künstler</xhtml:span> bezeichnet. Denn eigentliche <xhtml:span class="hi">Kunst</xhtml:span> (<xhtml:span class="foreign">Τεχνην</xhtml:span> oder Artem) legt man doch nur dem bei, der seine Kenntnisse in irgend einer Art von Dingen nicht bloß Andern abgelernt oder nur aus Beobachtung geschöpft, sondern auch darüber selbst gedacht, ihren Gründen und Folgen oder möglichen Anwendung nachgeforscht, sich eben sowohl feste und sichere Regeln, und überhaupt allgemeine Kenntnisse, als deutliche Begriffe von der Art seiner Beschäftigungen erworben hat. Freilich muß er <xhtml:span class="hi">historische</xhtml:span> und <xhtml:span class="hi">philosophische</xhtml:span> Kenntnisse davon zugleich besitzen. <xhtml:span class="hi">Historische</xhtml:span>, oder einen ansehnlichen  Vorrath und Stoff, den er hernach verarbeiten kann, oder dessen er zur Verarbeitung seiner Kenntnisse bedarf, das heißt: er muß <xhtml:span class="hi">Vieles</xhtml:span> und davon <xhtml:span class="hi">Viel</xhtml:span> wissen (multa et multum). Aber eben so nothwendig ist, daß er, was er weiß, <xhtml:span class="hi">gut</xhtml:span> wisse, und besonders im Zusammenhange oder <xhtml:span class="hi">philosophisch</xhtml:span> einsehe, weil davon selbst die immer mehrere Vollständigkeit <xhtml:span class="pb">|c5|</xhtml:span> der Kenntniß einer Sache, und noch mehr die Sicherheit und rechte Anwendung derselben, abhängt. – Nicht minder unterscheidet man selbst unter den Kunstverständigen den eigentlichen <xhtml:span class="hi">Gelehrten</xhtml:span> von dem <xhtml:span class="hi">Nichtgelehrten</xhtml:span>; und dieser Unterschied scheint sich auf den verschiedenen nächsten Zweck zu gründen, wonach man bei Erwerbung einer gewissen Art von Kenntnissen trachtet. Dieser Zweck besteht immer in der Befriedigung gewisser Bedürfnisse oder des Gefühls von dem Werth gewisser Kenntnisse; und diese Bedürfnisse können entweder <xhtml:span class="hi">sinnliche</xhtml:span> oder <xhtml:span class="hi">geistige</xhtml:span> seyn, d. i.,  <xhtml:span class="hi">entweder</xhtml:span> den Körper und äußerliche Verhältnisse betreffen, in welchen wir gegen irgend Etwas stehen, was außer uns ist, und auf unsre Glückseligkeit  Einfluß haben kann, als Gesundheit, Nahrung, Sicherheit, Hülfe von Andern, Vergnügung der Sinne u. dergl., <xhtml:span class="hi">oder</xhtml:span> die Vollkommenheit des Geistes, Kenntniß des Wahren, Nützlichen, Guten und Schönen, nebst der Bildung des ganzen Charakters, unserer Denk- und Handlungsart, befördern. Dienen nun <xhtml:span class="hi">zusammenhängende</xhtml:span> Kenntnisse einer gewissen Art von Gegenständen  <xhtml:span class="hi">zunächst</xhtml:span> zur Befriedigung <xhtml:span class="hi">geistiger</xhtml:span> Bedürfnisse, so macht der Inbegriff <xhtml:span class="hi">solcher</xhtml:span> Kenntnisse eine <xhtml:span class="hi">Wissenschaft</xhtml:span> aus; zielen sie aber <xhtml:span class="hi">zunächst</xhtml:span> auf Befriedigung <xhtml:span class="hi">sinnlicher</xhtml:span> Bedürfnisse ab, so würde der Inbegriff solcher Kenntnisse eine <xhtml:span class="hi">Kunst</xhtml:span> heißen müssen. Will man also den eigentlichen Gelehrten von dem Nichtgelehrten unterscheiden, so würde derjenige verdienen ein <xhtml:span class="hi">Gelehrter</xhtml:span> genannt zu werden, der vorzügliche zusammenhängende Kenntnisse in irgend einer <xhtml:span class="hi">Wissenschaft</xhtml:span> besitzt, d. i. dergleichen Kenntnisse von solchen Gegenständen, die zunächst geistige Bedürfnisse befriedigen sollen; und <xhtml:span class="hi">Gelehrsamkeit</xhtml:span> wäre dann gründliche Bekanntschaft mit <xhtml:span class="pb">|c6|</xhtml:span> Gegenständen der so eben beschriebenen Art; da hingegen alle diejenigen  zu den <xhtml:span class="hi">Nichtgelehrten</xhtml:span> gerechnet werden müßten, denen es an Kenntnissen gewisser Art ganz fehlt, oder die davon keine vorzügliche, oder keine zusammenhängende Kenntnisse (in dem vorhin angegebenen Sinne des Wortes) haben, oder deren Kenntnisse Gegenstände betreffen, welche zunächst nur sinnliche Bedürfnisse betreffen und befriedigen.</xhtml:div>
        <xhtml:div class="note">
            <xhtml:span class="text-anchor" id="noe_1_1_3_page"/>  <xhtml:span class="hi">Anmerk.</xhtml:span> 1. Bei dem so sehr verschiedenen Sinn, in welchem <xhtml:span class="hi">Gelehrsamkeit</xhtml:span> genommen wird, und bei den so schwankenden Begriffen davon, war es wenigstens nöthig, einen bestimmten Begriff anzugeben, an den man sich in der Folge halten könnte; und der hier angegebene scheint mit dem Sprachgebrauch am meisten übereinzukommen, weil dadurch wirklich der <xhtml:span class="hi">Gelehrte</xhtml:span> nicht nur von dem ganz Unwissenden, von dem gemeinen Mann und dem Handwerker, sondern auch von dem viel gebildetern Künstler, dem Geschäftsmann und bloßen Homme de lettres unterschieden wird. Wer bloß mechanisch, oder nur durch Aufmerksamkeit und Uebung, gewisse, selbst vorzügliche Kenntnisse erlangt hat, oder so seine Geschäfte treibt, oder, mit andern Worten, der bloß routinirte Mann, heißt, nach dem Sprachgebrauche, so wenig ein Gelehrter, als bloße selbst bildende Künste, ökonomische, Finanz- und Handelskenntnisse oder Fertigkeiten, zu <xhtml:span class="hi">gelehrten</xhtml:span> Beschäftigungen gerechnet werden. Was unterscheidet aber den bloß Routinirten von dem eigentlichen Kunstverständigen, wohin auch der Gelehrte gehört, als daß jener, bei Erwerbung oder Anwendung seiner Kenntnisse mechanisch, dieser aber philosophisch verfährt? und was anders, zieht die Gränzlinie zwischen gelehrten und andern Beschäftigungen, als der Unterschied zwischen innerer geistiger, und zwischen äußerlicher Kultur? Nur muß man bei diesem letzteren Unterschiede nicht übersehen, ob eine Beschäftigung jene oder diese <xhtml:span class="hi">zunächst</xhtml:span> zur Absicht habe; denn <xhtml:span class="pb">|c7|</xhtml:span> sonst können ja gelehrte Beschäftigungen, als Sprachstudium, Mathematik, Geschichte u. s. w. getrieben werden, um unsere oder Anderer äußerliche Nothdurft, Bequemlichkeit und Vergnügen, so wie mechanische und bildende Künste, um Bildung des Geistes zu befördern. <xhtml:ul class="text-list">
                <xhtml:li class="list-item">S. <xhtml:span class="hi">Philosophische Blicke auf Wissenschaften und Menschenleben</xhtml:span>, von <xhtml:span class="hi">Heinzelmann</xhtml:span> und <xhtml:span class="hi">Voß</xhtml:span>, Band 1. S. 10 f.</xhtml:li>
            </xhtml:ul>
        </xhtml:div>
        <xhtml:div class="note">
            <xhtml:span class="hi">Anmerk.</xhtml:span> 2. Auf den Unterschiede der <xhtml:span class="hi">gemeinen</xhtml:span> und der <xhtml:span class="hi">gelehrten</xhtml:span> Kenntniß der Religion, beruht der  bekannte Unterschied, den man zwischen <xhtml:span class="hi">Religion</xhtml:span> und <xhtml:span class="hi">Theologie</xhtml:span> macht. Letztere, als Eigenschaft betrachtet, ist eine gelehrte Kenntniß der Religion, und ein <xhtml:span class="hi">Theologe</xhtml:span> ist daher, der eine solche Kenntniß von der <xhtml:span class="hi">Religion</xhtml:span>, d. i. von den Begriffen und Lehren besitzt, welche Gott und das gegenseitige Verhältniß zwischen Gott und den Menschen betreffen; so wie <xhtml:span class="hi">Theologie</xhtml:span>, als Wissenschaft genommen, der Inbegriff der Religionswahrheiten ist, sofern diese auf eine gelehrte Art erkannt werden. {<xhtml:span class="hi">Subtilior religionis expositio</xhtml:span>, comprehenso simul omni eruditionis apparatu, quem subtilitas illa postulat, nach <xhtml:span class="hi">Morus</xhtml:span>. Corpus placitorum religionis christianae, erudite et subtiliter expositum, et in artis formam redactum, nach <xhtml:span class="hi">Reinhard</xhtml:span>.}  S. mein Programm de diversitate studiorum, quibus Theologum decet ceteris Ecclesiae doctoribus praestare. Halae 1767. in 4. – Einen Theil der <xhtml:span class="hi">Theologie</xhtml:span> macht <xhtml:span class="hi">Philosophie über Religion</xhtml:span> aus, nämlich im Unterschiede von gelehrten <xhtml:span class="hi">historischen</xhtml:span> Kenntnissen, welche auch die Religion aufklären können. S. <xhtml:span class="hi">J. G. Töllners theologische Untersuchungen</xhtml:span>, Bd. 1. Stück 1. die 9te Abhandlung.  <xhtml:span class="hi">Herder</xhtml:span> von Religion, Lehrmeinungen und Gebräuchen. 1787. {<xhtml:span class="hi">De Wette</xhtml:span> über Religion und Theologie. Berlin 1815.}</xhtml:div>
    </xhtml:div>
    <xhtml:span class="text-anchor" id="section_1_4"/>
    <xhtml:div class="section">
        <xhtml:h2>
            <xhtml:span class="pb">|c8|</xhtml:span> 4.</xhtml:h2>
        <xhtml:div class="p">Daß die <xhtml:span class="hi">gelehrte</xhtml:span> Erkenntniß der Religion an sich einen großen Vorzug vor der <xhtml:span class="hi">gemeinen</xhtml:span> oder blos <xhtml:span class="hi">populären</xhtml:span> habe, wird niemand läugnen, wer nicht glaubt, Unwissenheit sei besser als Kenntniß, mangelhafte Kenntniß besser als vollkommnere. Aber die, welche die gelehrtere Erkenntniß in der Religion für unnöthig oder gar für gefährlich halten, wenn  sie dies nicht aus Trägheit oder Eigendünkel behaupten, haben entweder nie den Nutzen und gewissermaßen die Unentbehrlichkeit einer solchen Kenntniß recht überdacht, oder stehen in dem  Wahn, daß bei solchem Streben nach weiterer Aufklärung, die Religion selbst, sowohl die Kenntniß und der Glaube an sie, als die gottselige Gesinnung, leiden möchte. Gegen jene müßte also der <xhtml:span class="hi">Nutzen</xhtml:span>, gegen diese die <xhtml:span class="hi">Unschuld</xhtml:span> der Gelehrsamkeit gezeigt werden.</xhtml:div>
        <xhtml:div class="note">
            <xhtml:span class="hi">Anmerk.</xhtml:span> Es wird immer schwer halten , eigentliche Verächter der Gelehrsamkeit selbst von ihrem Werthe zu überzeugen. Denn davon überzeugt zu werden, bedarf es schon selbst einiger<div class="modal fade" role="dialog" id="de54a9fbbb44753bff12ac2f3a85b708">
                <div class="modal-dialog modal-typo">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
            × <!-- times -->
                            </button>Editorische Korrektur von: einider (c)</div>
                    </div>
                </div>
            </div> <a class="comp-error" data-target="#de54a9fbbb44753bff12ac2f3a85b708">
                <i class="fa fa-wrench" aria-hidden="true" data-toggle="modal"/>
            </a> Gelehrsamkeit. Wem es daran fehlt, oder wer nur nach der einen Art gelehrter Erkenntniß, dem Vielwissen, nicht nach der andern, der philosophischen Erkenntniß (§. <xhtml:span class="ref">3. <xhtml:a class="text-link" href="book.html?file=&amp;edition=c#section_1_3">
                    <i class="fas fa-external-link-alt"/>
                </xhtml:a>
            </xhtml:span>) getrachtet, oder  nicht immer unparteiisch nachgesucht hat, welchen Werth, welchen Einfluß jedes hat, was wir erkannt haben; oder wer wenigstens nicht um eine anschauende Erkenntniß dieses Werthes und Nutzens bekümmert gewesen ist: der ist auch schwerlich einer Ueberzeugung bei dieser Frage über den Werth der Gelehrsamkeit in der Religion, wenigstens nicht in dem Grade, fähig, daß diese Ueberzeugung den scheinbaren Vorurtheilen dawider das Gleichgewicht halten könnte. Man kann hiernach beurtheilen, ob er ein befugter Richter in dieser Sache sei? <xhtml:span class="hi">Komm</xhtml:span> und <xhtml:span class="hi">Siehe!</xhtml:span> ist hier der sicherste Weg zur Ueberzeugung. <xhtml:span class="pb">|c9|</xhtml:span> Den umgekehrten Weg können nur die geführt werden, die noch nicht gegen Gelehrsamkeit eingenommen sind.</xhtml:div>
    </xhtml:div>
    <xhtml:span class="text-anchor" id="section_1_5"/>
    <xhtml:div class="section">
        <xhtml:h2>  5.</xhtml:h2>
        <xhtml:div class="p">Wie <xhtml:span class="hi">nützlich</xhtml:span> und selbst wie <xhtml:span class="hi">unentbehrlich</xhtml:span> unter gewissen Umständen gelehrte Erkenntniß der Religion sei, läßt sich am besten bei den einzelnen zur Bildung eines angehenden Theologen dienlichen Wissenschaften zeigen. Dieß ist die Ursach, warum es in dieser Anleitung bis dahin verschoben wird. Hier sei es genug, im Allgemeinen zu bemerken, daß es bei jeder rechten Kenntniß einer Wahrheit, also auch jeder Lehre in der Religion, auf drei Stücke ankomme: daß man sie – recht <xhtml:span class="hi">verstehe</xhtml:span> – recht <xhtml:span class="hi">beurtheile</xhtml:span> und – recht <xhtml:span class="hi">anwende</xhtml:span>. Das dritte setzt das zweite, so wie das zweite das erste voraus. Wo es an einem dieser drei Stücke fehlt, kann die Erkenntniß dieser Lehre nie das seyn, was sie seyn soll: Mittel, zur Wahrheit, und durch diese zur Glückseligkeit zu gelangen. Bei Angabe des Nutzens einzelner Theile der Gelehrsamkeit in der Religion, müßte also stets ihr Einfluß auf diese drei Stücke in Anschlag genommen werden.</xhtml:div>
    </xhtml:div>
    <xhtml:span class="text-anchor" id="section_1_6"/>
    <xhtml:div class="section">
        <xhtml:h2>6.</xhtml:h2>
        <xhtml:div class="p">Doch wie – wenn  Gelehrsamkeit für die Religion <xhtml:span class="hi">gefährlich</xhtml:span> wäre? – Das ist sie gewiß nicht; und wer dies gleichwohl meint, macht sich entweder von Gelehrsamkeit, oder Religion, oder von dem, was gefährlich ist, falsche Begriffe. Ohne Wegräumung dieses dreifachen Mißverstandes wird man wider und für die Unschuld der Gelehrsamkeit mit gleichem Glück streiten, und die Sache wird unverglichen bleiben .</xhtml:div>
    </xhtml:div>
    <xhtml:span class="text-anchor" id="section_1_7"/>
    <xhtml:div class="section">
        <xhtml:h2>
            <xhtml:span class="text-anchor" id="noe_1_1_6_page"/>   <xhtml:span class="pb">|c10|</xhtml:span> 7.</xhtml:h2>
        <xhtml:div class="p">Echte  <xhtml:span class="hi">Gelehrsamkeit</xhtml:span>  reicht theils den nöthigen <xhtml:span class="hi">Stoff</xhtml:span> zur Erkenntniß und Beurtheilung einer Sache dar, theils lehrt sie die <xhtml:span class="hi">Regeln</xhtml:span>, wonach dieser beurtheilt, gewürdigt und richtig angewendet werden muß. (§. <xhtml:span class="ref">3. <xhtml:a class="text-link" href="book.html?file=&amp;edition=c#section_1_3">
                    <i class="fas fa-external-link-alt"/>
                </xhtml:a>
            </xhtml:span>) Sie kann also, ihrer Natur nach, dem Wahren und Guten nicht nachtheilig seyn; und wenn sie es wird, so liegt der Grund davon entweder in unvollständigen oder unrichtigen Kenntnissen und Grundsätzen, wonach man verfährt, oder in dem Gelehrten selbst, sofern er von richtigen Kenntnissen und Regeln keinen genugsamen und rechten Gebrauch macht. In beiden Fällen kann der entstehende Schade nicht der Gelehrsamkeit beigemessen werden, sondern im ersteren dem Mangel der Gelehrsamkeit, im letzteren aber entweder dem Vorurtheil, nach welchem der Gelehrte von der Gelehrsamkeit Alles erwartet, da sie doch nur den Verstand aufklären und leiten kann, um dadurch den Weg zur Besserung des Herzens zu bahnen, oder der Gleichgültigkeit gegen das Gute, die zum Theil selbst aus jenem Vorurtheile, zum Theil aus der Macht sinnlicher Neigungen und Leidenschaften entspringt. <xhtml:span class="ref">*) <xhtml:a class="text-link" href="book.html?file=&amp;edition=c#noe_2_1_7_note1">
                    <i class="fas fa-external-link-alt"/>
                </xhtml:a>
            </xhtml:span> </xhtml:div> <xhtml:span class="text-anchor" id="noe_2_1_7_note1"/>
        <xhtml:div class="note">*) <xhtml:span class="hi">Vertraute</xhtml:span> <xhtml:span class="hi">Briefe</xhtml:span>,  <xhtml:span class="hi">die Religion</xhtml:span> <xhtml:span class="hi">betreffend</xhtml:span>, (von <xhtml:span class="hi">J. J. Spalding</xhtml:span>), vornehmlich im 4ten und 7ten Briefe.</xhtml:div>
    </xhtml:div>
    <xhtml:span class="text-anchor" id="section_1_8"/>
    <xhtml:div class="section">
        <xhtml:h2>8.</xhtml:h2>
        <xhtml:div class="p">Was ist <xhtml:span class="hi">Religion</xhtml:span>? – Sind es wahre, gegründete, die strengste Prüfung aushaltende, Gott  und das Verhältniß zwischen ihm und den Menschen betreffende Sätze? – Oder sind es bloße Meinungen und menschliche Einfälle, <xhtml:span class="pb">|c11|</xhtml:span> Zusätze zur Religion, an welchen wir mit<div class="modal fade" role="dialog" id="32d212556f3db2568a5a1c13d9e2aa48">
                <div class="modal-dialog modal-typo">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
            × <!-- times -->
                            </button>Editorische Korrektur von: mir (c)</div>
                    </div>
                </div>
            </div> <a class="comp-error" data-target="#32d212556f3db2568a5a1c13d9e2aa48">
                <i class="fa fa-wrench" aria-hidden="true" data-toggle="modal"/>
            </a> Zuversicht und Ergebenheit hängen, weil sie uns entweder von Jugend auf geläufig worden, wir aber das Gegentheil als wahr zu denken ungewohnt sind, oder es nur als wahr zu vermuthen und zu prüfen, uns nicht einmahl in den Sinn kommt; oder weil das Ansehen frommer oder in der Welt vielgeltender Lehrer uns für ihre Richtigkeit Gewähr zu leisten scheint; oder weil wir sie  behaglich finden, es sei, daß sie uns eigene Untersuchung und Mühe ersparen, oder wir dabei keine nachtheilige, oft wohl gar gute Folgen für unsere Frömmigkeit und Gemüthsruhe bemerken? – Oder betreffen sie, ihrer Natur nach, Gott und das Verhältniß zwischen ihm und uns eigentlich, weder mittel- noch unmittelbar, gar nicht; scheinen sie uns vielmehr nur dahin zu gehören, weil wir sie in ehrwürdigen Büchern neben und mit Religionswahrheiten gefunden haben, oder unsre Einbildungskraft sie mit diesen Sätzen der Religion einmal so verknüpft hat, daß wir befürchten, Eins müsse mit dem Andern stehen oder fallen? – Im <xhtml:span class="hi">ersten</xhtml:span> Fall kann Gelehrsamkeit der Religion nicht nachtheilig seyn; sie bewährt sie eben, und hilft jene wahren Lehren von den erdichteten und falschen absondern. Hilft sie im <xhtml:span class="hi">zweiten</xhtml:span> Fall unechte Zusätze zerstören, so ist sie für die wahre Religion wohlthätig und vertilgt das Unkraut, unter dem wahre Religion ersticken würde. Im <xhtml:span class="hi">dritten</xhtml:span> raubt sie dem Menschen wenigstens nichts von Religion; aber sie macht auch den Gebrauch solcher fremden Lehren, wenn sie ja noch Wahrheit enthalten, für die Religion unschädlich, und zieht den Fleiß der Menschen von entbehrlicheren Beschäftigungen ab, und lenkt ihn auf solche, die wichtig und heilsam sind, hin.</xhtml:div>
    </xhtml:div>
    <xhtml:span class="text-anchor" id="section_1_9"/>
    <xhtml:div class="section">
        <xhtml:h2>
            <xhtml:span class="pb">|c12|</xhtml:span> 9.</xhtml:h2>
        <xhtml:div class="p">Was ist <xhtml:span class="hi">gefährlich</xhtml:span> für Religion? Sicherlich nicht, was jene eben erwähnte unechten oder fremden Zusätze zerstört oder absondert, hingegen wahre Religionslehren als wahre darstellt, bestätigt,   außer Zweifel setzt, und nützlicher anwenden lehrt. Zwar kann Gelehrsamkeit, wie zugestanden wurde (§. <xhtml:span class="ref">7. <xhtml:a class="text-link" href="book.html?file=&amp;edition=c#section_1_7">
                    <i class="fas fa-external-link-alt"/>
                </xhtml:a>
            </xhtml:span>), durch Zufall und Mißbrauch gefährlich und eine Quelle neuer Uebel werden. Aber – giebt es irgend etwas, das nicht gemißbraucht, nicht gefährlich werden, nicht ausarten <xhtml:span class="hi">kann</xhtml:span>? Empfindlichkeit, selbst Vernunft, das Edelste im Menschen, selbst Gottseligkeit, erzeugen eben sowohl unter gewissen Umständen Mißvergnügen, Sorgen und Kummer; wovon die Thiere, wovon leichtsinnige Menschen nichts oder wenig empfinden; als sie auf der andern Seite Quellen des höhern und reinern Vergnügens, nothwendige Mittel zu Vollkommenheiten sind, die das Thier und der Leichtsinnige oder Gleichgültige weder begreift noch erreicht. Und wer mag mit diesen tauschen? wer lieber hungern als essen, aus Furcht, seine Gesundheit zu verderben? – Unwissenheit, eingeschränkte Einsichten, Mangel des reifern Ueberlegens sind <xhtml:span class="hi">ihrer Natur nach</xhtml:span> schädlich; wahre Gelehrsamkeit nie. Nur durch zufällige  Umstände können jene unschädlich, diese nachtheilig werden. Aber nicht der Zufall, nur die Natur ist der rechte Maaßstab, den Werth der Dinge zu bestimmen. – Endlich läßt sich doch der Mißbrauch, und es lassen sich jene Uebel verhüten, wenn wir uns, so viel an uns ist, feste und sichere  Regeln machen, wonach wir untersuchen; wenn wir in Bestimmung dessen, was wahr und falsch, nützlich oder schädlich ist, nicht weiter gehen als der Stoff , den wir zu verarbeiten, oder wonach wir zu urtheilen haben <xhtml:span class="pb">|c13|</xhtml:span> und unsere Kräfte reichen; wenn wir unsere Urtheile von dem Maaße unserer Kräfte und von dem Werthe der Dinge in eben  dem Verhältnisse berichtigen und verbessern, in welchem sich unsere Einsichten erweitern. <xhtml:span class="ref">*) <xhtml:a class="text-link" href="book.html?file=&amp;edition=c#noe_2_1_9_note1">
                    <i class="fas fa-external-link-alt"/>
                </xhtml:a>
            </xhtml:span>  Aber um alles dieses zu können, müssen wir Vieles wissen und viel geprüft haben; wir werden also in dem Grade gegen Mißbrauch gesichert seyn, in welchem wir gesucht haben, immer gelehrter zu werden. Thue das Deine und überlaß das Uebrige Gott, der auch unsere Fehltritte zum Besten zu lenken weiß!</xhtml:div>
        <xhtml:span class="text-anchor" id="noe_2_1_9_note1"/>
        <xhtml:div class="note">*) Siehe  <xhtml:span class="hi">C. G.</xhtml:span> <xhtml:span class="hi">Salzmann's</xhtml:span> Vorrede zu der Schrift: <xhtml:span class="hi">Ueber</xhtml:span>  <xhtml:span class="hi">die wirksamsten</xhtml:span> <xhtml:span class="hi">Mittel,</xhtml:span>  <xhtml:span class="hi">Kindern Religion</xhtml:span> <xhtml:span class="hi">beizubringen</xhtml:span>. Leipzig 1780. gr. 8.</xhtml:div>
    </xhtml:div>
    <xhtml:span class="text-anchor" id="section_1_10"/>
    <xhtml:div class="section">
        <xhtml:h2>10.</xhtml:h2>
        <xhtml:div class="p">„Aber das <xhtml:span class="hi">Wissen blähet auf</xhtml:span>!“ – Freilich, wenn Wissen (<xhtml:span class="foreign">γνωσις</xhtml:span>), wie es der Apostel nimmt (1 Kor. 8, 1), so viel ist, als die Meinung, daß man woran recht thue, verbunden mit der Meinung, daß man es alsdann auch thun dürfe, ohne Rücksicht auf unsern schwächern Nächsten, den  wir durch unser unvorsichtiges  Beispiel verleiten, etwas uns nachzuthun, was er nicht für Recht erkennt; und überhaupt als unreife oder übel angewendete Wissenschaft. Nicht so, wahre Gelehrsamkeit , die, weil sie uns Schwächen und Lücken unsrer Erkenntniß, die Verschiedenheit der Ueberzeugung bei verschiedenen Menschen, und Schwierigkeiten bei Untersuchungen fühlbar macht, eben sowohl Bescheidenheit als Schonung des Nächsten befördert.</xhtml:div>
    </xhtml:div>
    <xhtml:span class="text-anchor" id="section_1_11"/>
    <xhtml:div class="section">
        <xhtml:h2>11.</xhtml:h2>
        <xhtml:div class="p">„Viel Wissen, oder Trachten danach, zer<xhtml:span class="text-anchor" id="noe_1_1_10_page"/>streut; wir vergessen die Anwendung aufs Herz; was bloß Mittel seyn <xhtml:span class="pb">|c14|</xhtml:span> sollte, wird zum Zweck gemacht!“ – Müßiggang, oder nicht genugsame oder unnütze Beschäftigung, zerstreut auch und läßt Verstand und Herz leer. (Matth. 12, 44. 45.) Eingeschränkte Kenntniß, wonach man doch immer urtheilen und handeln muß, macht verlegen und verursacht entweder Zeitverlust und unnöthige Zerstreuung über dem Suchen desjenigen, was man nicht zu finden weiß, oder gebiert Leichtsinn und Gewissenlosigkeit. Wo nicht Vieles im Kopfe ist, läßt sich auch nicht Vieles, wenigstens nicht recht, anwenden. Bloße <xhtml:span class="hi">Vielwisserei</xhtml:span> ist nicht Gelehrsamkeit. (§. <xhtml:span class="ref">3. <xhtml:a class="text-link" href="book.html?file=&amp;edition=c#section_1_3">
                    <i class="fas fa-external-link-alt"/>
                </xhtml:a>
            </xhtml:span>) Bilde man nur das Wissen zu dem aus, was wahre Gelehrsamkeit ist (§. <xhtml:span class="ref">2. <xhtml:a class="text-link" href="book.html?file=&amp;edition=c#section_1_2">
                    <i class="fas fa-external-link-alt"/>
                </xhtml:a>
            </xhtml:span>  und <xhtml:span class="ref">7. <xhtml:a class="text-link" href="book.html?file=&amp;edition=c#section_1_7">
                    <i class="fas fa-external-link-alt"/>
                </xhtml:a>
            </xhtml:span>), und der Vorwurf fällt von selbst weg. Je mehr man in wahrer Gelehrsamkeit fortrückt, desto mehr lernt man sich sammlen, verhütet Zerstreuung, und lernt Alles besser anwenden.</xhtml:div>
    </xhtml:div>
    <xhtml:span class="text-anchor" id="section_1_12"/>
    <xhtml:div class="section">
        <xhtml:h2> 12.</xhtml:h2>
        <xhtml:div class="p">„Aber man <xhtml:span class="hi">glaubt</xhtml:span> um so weniger, je mehr man <xhtml:span class="hi">weiß</xhtml:span>; und Gelehrsamkeit ist eine reiche Quelle von Zweifeln!“ – Aber wer viel glaubt, wird auch viel betrogen; dagegen sichert demnach nichts besser, als daß man Vieles und daß man es gut wisse; also setzt uns wieder Gelehrsamkeit in den Stand, zu wissen, wo man glauben dürfe oder nicht? – Der Gelehrte zweifelt allerdings mehr wie der Ungelehrte. Aber Zweifel sind nicht immer schädlich; sie sind ein kräftiger Antrieb zur Untersuchung, wobei man immer gewinnt; sie sind sogar das einzige natürliche Mittel, von Vorurtheilen und  Irrthümern zurückzukommen. – Und in dem Maaße, wie man in der Gelehrsamkeit wächst, nehmen auch die Kenntnisse zu, um den Ungrund schädlicher Zweifel einzusehen, und es wächst die Fertigkeit, sie aufzu<xhtml:span class="pb">|c15|</xhtml:span>lösen; denn Zweifel entstehen aus Unwissenheit, und werden nur schädlich, wenn man mit ihnen nicht umzugehen weiß.</xhtml:div>
    </xhtml:div>
    <xhtml:span class="text-anchor" id="section_1_13"/>
    <xhtml:div class="section">
        <xhtml:h2>13.</xhtml:h2>
        <xhtml:div class="p">„Gleichwohl lehrt Erfahrung und Geschichte, daß es eben Gelehrte waren, die Irrthümer aufbrachten, die die Religion von ihrer Einfalt zurückführten, die sie ihrer Geheimnisse zu berauben suchten!“ – Wenn dies Gelehrte gethan haben sollten, so müßte erst, ehe man sie verdammen wollte, das ausgemacht werden, was oben §. <xhtml:span class="ref">8. <xhtml:a class="text-link" href="book.html?file=&amp;edition=c#section_1_8">
                    <i class="fas fa-external-link-alt"/>
                </xhtml:a>
            </xhtml:span>  erinnert ist. Aber gewiß sind jene  Verderbnisse der Religion weit häufigere Folgen der Unwissenheit, des Mißverstandes, der Schwärmerei oder des aftergelehrten Dünkels, welchem Fehler eben die Gelehrsamkeit entgegenarbeitet.</xhtml:div>
    </xhtml:div>
    <xhtml:span class="text-anchor" id="section_1_14"/>
    <xhtml:div class="section">
        <xhtml:h2>14.</xhtml:h2>
        <xhtml:div class="p">„Indessen erschwert doch die Gelehrsamkeit und die davon abhängende eingeführte Schulsprache die Kenntniß der Religion!“ – Wenn sie sonst nöthig oder nützlich ist, so müssen uns die Schwierigkeiten nicht abschrecken, sie in unsre Gewalt zu bekommen. Kann sie aber jemand ohne Nachtheil der Wahrheit und Gründlichkeit, oder muß er sie, nach seinen Umständen, entbehren, so überlasse er, ohne Verachtung oder Verunglimpfung, das, was <xhtml:span class="hi">er</xhtml:span> entbehren kann, <xhtml:span class="hi">dem</xhtml:span>, der dessen fähig und bedürftig ist.</xhtml:div>
    </xhtml:div>
    <xhtml:span class="text-anchor" id="section_1_15"/>
    <xhtml:div class="section">
        <xhtml:h2>15.</xhtml:h2>
        <xhtml:div class="p">Denn so sehr es allgemeine Pflicht eines jeden Menschen ist, sich um Religion zu bekümmern, und nach Gottseligkeit zu trachten; so nöthig es ist, nicht nur zu lernen, sondern auch das, was man von der Religion weiß, zu er<xhtml:span class="pb">|c16|</xhtml:span>halten, fester zu begründen, zu vermehren, zu berichtigen, lebhafter und eindrücklicher zu machen, und von Zeit zu Zeit zu erwecken und anzufrischen: so fehlt's doch dem größten Theil der Menschen an Fähigkeit, Hülfsmitteln, Muße, und daher auch mit an Uebung in der Erkenntniß und Gottseligkeit. Um so geläufiger und wirksamer sind bei den meisten Unwissenheit oder seichte Kenntnisse in der Religion,  Vorurtheile und grobe oder nach jedes Leidenschaften gebildete Vorstellungen von Gott und unsichtbaren Dingen überhaupt, wodurch ihnen alles Ungewohnte befremdlich, jeder aufsteigende oder gehörte Zweifel aber eine neue Nahrung des Leichtsinns oder der Aengstlichkeit wird. Wie sehr darunter erleuchtete Gewissenhaftigkeit und davon abhängende gute Gesinnung und Betragen eines Menschen sowohl als seine wahre Gemüthsruhe leiden müsse, ist leicht zu begreifen.</xhtml:div>
    </xhtml:div>
    <xhtml:span class="text-anchor" id="section_1_16"/>
    <xhtml:div class="section">
        <xhtml:h2>16.</xhtml:h2>
        <xhtml:div class="p">Es wäre also großes und sich selbst belohnendes Verdienst, wenn, wie in allen andern menschlichen Angelegenheiten, die, so mehr vermögen, den Schwächern  oder Zerstreutern, auch hierin zu Hülfe kämen. Und wenn sie durch ihre Umstände in den Stand gesetzt würden, sich ganz diesem Geschäfte zu widmen; wenn sie durch ihre vorzüglichern Kenntnisse, durch die sorgfältigste Anschmiegung an Anderer Bedürfnisse, durch die zärtlichste Sorge für deren Gewissen und Gemüthsruhe, durch Klugheit, durch tugendhaftes und gottseliges Beispiel und durch das auf dieses alles gegründete innerliche Ansehen, Weisheit, Tugend und Religion nicht nur lehrten, sondern auch empföhlen; wenn sie dadurch Lehrer, Leiter und Muster für das Gewissen der <xhtml:span class="pb">|c17|</xhtml:span> übrigen Menschen würden:  wie wirksam <xhtml:span class="hi">könnten</xhtml:span> sie dann für menschliche Glückseligkeit werden!</xhtml:div>
    </xhtml:div>
    <xhtml:span class="text-anchor" id="section_1_17"/>
    <xhtml:div class="section">
        <xhtml:h2> 17.</xhtml:h2>
        <xhtml:div class="p">Wenn nun in der menschlichen Gesellschaft die, welche es einsehen, daß sie selbst <xhtml:span class="hi">den</xhtml:span> Fleiß nicht auf Religion und Bildung ihres Verstandes und Herzens danach wenden können, den sie sollten und wünschten (§. <xhtml:span class="ref">15. <xhtml:a class="text-link" href="book.html?file=&amp;edition=c#section_1_15">
                    <i class="fas fa-external-link-alt"/>
                </xhtml:a>
            </xhtml:span>), diese Angelegenheit und die ganze Sorge für ihre geistliche Wohlfahrt oder einen Theil dieser Sorge Andern übertrügen, welchen sie am meisten die vorerwähnten Eigenschaften (§. <xhtml:span class="ref">16. <xhtml:a class="text-link" href="book.html?file=&amp;edition=c#section_1_16">
                    <i class="fas fa-external-link-alt"/>
                </xhtml:a>
            </xhtml:span>) zutrauten: so entstünden dadurch in der Gesellschaft die, welche man in Beziehung auf den Unterricht in der Religion  <xhtml:span class="hi">Prediger</xhtml:span>, in Rücksicht auf die Anwendung derselben nach jedes besondern Gemüthsbedürfnissen  <xhtml:span class="hi">Seelsorger</xhtml:span>, und überhaupt <xhtml:span class="hi">Lehrer der Religion</xhtml:span> zu nennen pflegt. Ein höchst nützlicher und achtungswerther Stand, der nur dem verächtlich oder gleichgültig scheinen kann, der ihn entweder nicht aus diesem Gesichtspunkt betrachtet, oder der für Tugend, Gewissen und Religion, so weit es nicht in seine eigennützigen Absichten schlägt, keinen Werth hat.</xhtml:div>
    </xhtml:div>
    <xhtml:span class="text-anchor" id="section_1_18"/>
    <xhtml:div class="section">
        <xhtml:h2>18.</xhtml:h2>
        <xhtml:div class="p">Selbst dem Staate, wenn er seine Pflichten, Vortheile und Rechte kennt, kann dieser <xhtml:span class="hi">Stand</xhtml:span>, man mag ihn den <xhtml:span class="hi">geistlichen</xhtml:span>, oder wie man will, nennen, so wenig gleichgültig seyn, als die Sorge, wie er besetzt wird. – Die Rechte der Menschheit, und unter diesen sind die Rechte des Gewissens die höchsten, können durch keine Art von Verbindungen und Gesetzen aufgehoben werden; und wer die Regierung eines Staats übernimmt, der übernimmt <xhtml:span class="pb">|c18|</xhtml:span> auch, ausdrücklich oder stillschweigend, die Pflicht, die Tugend und Religion seiner Unterthanen nicht nur nicht zu kränken, sondern sie auch, so viel er kann, zu befördern. <xhtml:span class="ref">*) <xhtml:a class="text-link" href="book.html?file=&amp;edition=c#noe_2_1_18_note2">
                    <i class="fas fa-external-link-alt"/>
                </xhtml:a>
            </xhtml:span>  – Je mehr und je allgemeiner wahre Religion erkannt, je mehr sie für wohlthätig und unentbehrlich zur Glückseligkeit gehalten, je angelegentlicher und genauer sie befolgt wird: desto weniger geschieht den Gesetzen und guten Anstalten, ohne welche keine Gesellschaft bestehen kann, öffentlicher oder heimlicher Abbruch; desto williger thut jeder, auch ungesehen und unerinnert, Gutes, und wirkt desto eifriger zum gemeinen Besten; desto mehr ersetzt sich das, was der Tugend an bürgerlicher Ermunterung abgeht, durch Zufriedenheit des Gewissens, und noch weit mehr durch die Vorstellung des Wohlgefallens Gottes  und seiner, selbst über die Gränzen dieses Lebens reichenden, Belohnung.</xhtml:div> <xhtml:span class="text-anchor" id="noe_2_1_18_note2"/>
        <xhtml:div class="note">
            <xhtml:ul class="text-list">
                <xhtml:li class="list-item">*) <xhtml:span class="hi">J. A. Eberhard's</xhtml:span> <xhtml:span class="hi">neue Apologie des</xhtml:span> <xhtml:span class="hi">Sokrates</xhtml:span>, Band 2, Berlin 1778. in 8. S. 117 folgg.</xhtml:li> <xhtml:li class="list-item">
                    <xhtml:span class="hi">(J. J. Spalding) über die Nutzbarkeit des Predigtamts und deren Beförderung</xhtml:span>, zweite Auflage, Berlin 1773. 8. im ersten Abschnitt, sonderlich S. 33 folgg.</xhtml:li>
                <xhtml:li class="list-item">
                    <xhtml:span class="hi">F. G. Lüdke</xhtml:span> über die Abschaffung des geistlichen Standes, nebst Untersuchung, ob derselbe dem Staate entbehrlich und sogar schädlich sei. Berlin 1789. Vergl. mit <xhtml:span class="hi">A. Gerard</xhtml:span> Rechtfertigung des Predigerstandes gegen <xhtml:span class="hi">Hume</xhtml:span>. Aus dem Englischen. Berlin 1787.</xhtml:li>
            </xhtml:ul>
        </xhtml:div>
    </xhtml:div>
    <xhtml:span class="text-anchor" id="section_1_19"/>
    <xhtml:div class="section">
        <xhtml:h2>19.</xhtml:h2>
        <xhtml:div class="p">Unmöglich kann die Religion ihrer Natur nach schädlich seyn. Sie wird es bloß durch Mißverstand, Schwärmerei und ausschweifende Leidenschaften. Dieses zu verhüten und den beseligenden Einfluß der Religion auf die ge<xhtml:span class="pb">|c19|</xhtml:span>meine und besondere Wohlfahrt zu befördern, sind in dem Staate Anstalten nöthig, wodurch immer richtigere Begriffe von Sittlichkeit und Religion sowohl, als wirksamster Antrieb, sie auszuüben, oder tugendhafte und gottselige Gesinnungen, allgemeiner gemacht werden. Weil aber die, welche fähig seyn möchten, Tugend und Religion auf das richtigste und nachdrücklichste zu lehren und zu empfehlen, schwerlich dieses Geschäft angelegentlich genug treiben werden, wenn sie sich ihm nicht ganz und unzerstreut widmen können; Andere hingegen, die genug Eifer haben möchten, nicht immer die dazu erforderlichen Fähigkeiten oder Kenntnisse besitzen, und in diesem Fall der Religion und dem Staate mehr schädlich als nützlich werden:  so macht dies nicht nur, wie zu andern öffentlichen Angelegenheiten, einen besondern Stand nöthig, dergleichen man auch bei allen nur einigermaßen gesitteten Völkern findet; sondern der Staat hat auch die Pflicht und das Recht, für dessen würdigste Besetzung und für Einrichtungen zu sorgen, wodurch das innerliche Ansehen der dazu bestimmten Personen (§. <xhtml:span class="ref">16. <xhtml:a class="text-link" href="book.html?file=&amp;edition=c#section_1_16">
                    <i class="fas fa-external-link-alt"/>
                </xhtml:a>
            </xhtml:span>) durch äußerliches  verstärkt, und jede derselben in den Stand gesetzt werde, mit gehörigem Eifer und aufs wirksamste die ihr obliegenden Pflichten zu erfüllen.</xhtml:div>
        <xhtml:div class="note">
            <xhtml:div class="p"/>
            <xhtml:div class="p"/>
        </xhtml:div>
    </xhtml:div>
    <xhtml:span class="text-anchor" id="section_1_20"/>
    <xhtml:div class="section">
        <xhtml:h2> 20.</xhtml:h2>
        <xhtml:div class="p">Diese Pflichten und die hohen Zwecke, wozu der geistliche Stand da ist, einst würdig zu erfüllen, dazu gehört die gewissenhafteste Prüfung, ob man überhaupt dazu fähig und fest entschlossen sei, so wie ein ununterbrochenes Bestreben, immer  fähiger und geschickter zu werden. Eine solche Vorbereitung erfordert, daß man wisse: 1) welche Arten von <xhtml:span class="hi">Kenntnissen</xhtml:span> nützlich oder unentbehrlich sind, um sich zu einem künftigen Lehrer der Religion zu bilden; 2) welche <xhtml:span class="hi">Fähigkeiten</xhtml:span> nöthig sind, um diese zu erlangen und auf das nützlichste zu Anderer Besten anzuwenden; 3) welche Hülfsmittel und Uebungen dazu dienen.</xhtml:div>
    </xhtml:div>
    <xhtml:span class="text-anchor" id="section_1_21"/>
    <xhtml:div class="section">
        <xhtml:h2> 21.</xhtml:h2>
        <xhtml:div class="p">Alles, was ein künftiger Lehrer der Religion in Absicht auf <xhtml:span class="hi">Kenntnisse</xhtml:span> zu thun hat, vereinigt sich in drei Hauptbeschäftigungen. Er muß sie auf die rechte Art zu <xhtml:span class="hi">sammlen</xhtml:span>, sie  <xhtml:span class="hi">anzuordnen</xhtml:span>,  und für Andere  <xhtml:span class="hi">anzuwenden</xhtml:span> wissen. Um sich den nöthigen <xhtml:span class="hi">Vorrath</xhtml:span> zu einer eigenen wohlgegründeten Kenntniß und Ueberzeugung von der Religion zu verschaffen, wird er  vor allen Dingen nach Kenntniß der Natur überhaupt zu streben, und besonders, bei  <xhtml:span class="hi">seiner</xhtml:span> Bestimmung zum Lehrer der Religion, sich zu bemühen haben, über <xhtml:span class="hi">Gott</xhtml:span>, so weit es der endliche Verstand vermag, und über die geistige Natur des Menschen richtig denken zu lernen, weil ohne diese Kenntniß, welche die <xhtml:span class="hi">Philosophie</xhtml:span> darreicht, weder eine recht überzeugende Erkenntniß von dem Verhältniß  zwischen Gott und den Men<xhtml:span class="pb">|c21|</xhtml:span>schen, womit sich die Religion beschäftigt, erhalten, noch ein richtiger Gebrauch der Vernunft bei solchen Untersuchungen gemacht werden kann.</xhtml:div>
    </xhtml:div>
    <xhtml:span class="text-anchor" id="section_1_22"/>
    <xhtml:div class="section">
        <xhtml:h2>22.</xhtml:h2>
        <xhtml:div class="p">Da sich aber das Christenthum  auf die nähere Offenbarung Gottes in der heiligen Schrift gründet; diese aber in der hebräischen oder chaldäischen und griechischen Sprache zu uns gekommen ist; und erstere wenigstens ohne Bekanntschaft mit den verwandten Dialekten nicht gründlich verstanden werden kann; außerdem auch die heilige Schrift sich theils auf viele historische Umstände bezieht, theils manche historische Kenntnisse zur Beurtheilung  der Glaubwürdigkeit der heiligen Bücher überhaupt oder in einzelnen Stellen erfordert werden: so wird er nach  genauer <xhtml:span class="hi">Kenntniß der hebräischen</xhtml:span> und <xhtml:span class="hi">griechischen</xhtml:span>, und der mit jener <xhtml:span class="hi">verwandten Sprachen</xhtml:span>, desgleichen der alten <xhtml:span class="hi">Geschichte</xhtml:span> und anderer  <xhtml:span class="hi">historischen Hülfswissenschaften</xhtml:span> trachten, auch sich durch sichere, auf Vernunft und Beobachtung der Natur gedachter Sprachen, wie sie in der heiligen Schrift gebraucht sind, gegründete <xhtml:span class="hi">Regeln</xhtml:span> und fleißige <xhtml:span class="hi">Uebung</xhtml:span> in <xhtml:span class="hi">Erklärung alter Schriften</xhtml:span> zu einem gründlichen Ausleger bilden müssen.</xhtml:div>
    </xhtml:div>
    <xhtml:span class="text-anchor" id="section_1_23"/>
    <xhtml:div class="section">
        <xhtml:h2>23.</xhtml:h2>
        <xhtml:div class="p">So würde auch eine pragmatische Kenntniß der <xhtml:span class="hi">Geschichte</xhtml:span> überhaupt, und besonders der  Veränderungen, die mit der Religion und der darauf gegründeten Kirche vorgegangen sind, außer dem schon erwähnten Nutzen, einen mächtigen Eindruck von dem so weisen  Gange der göttlichen Fürsehung geben, der zur Erweckung der Aufmerksamkeit <xhtml:span class="pb">|c22|</xhtml:span> auf die Religion und ihren unaussprechlichen Werth sowohl, als auf die ganze  Gesinnung gegen Gott so unentbehrlich ist. Sie würde den großen Einfluß der gebrauchten oder vernachlässigten Vorerkenntnisse bei der Religion und dem Christenthum, die seligen Folgen einer durch bescheidenen und regelmäßigen Gebrauch der Vernunft und der heiligen Schrift aufgeklärten Religion und ihrer gewissenhaften Befolgung, so wie die traurigen Folgen des Gegentheils , einleuchtend machen, und dadurch kräftig zu jenem ermuntern, und vor diesem warnen. Sie würde auch zeigen, wie weit man in der gründlichen und heilsamen Erkenntniß der Religion vorwärts oder zurückgekommen sei, und dadurch zu erkennen geben, was man von früheren, auf Religion Beziehung habenden Vorarbeiten, benutzen, verbessern oder wegräumen müsse.</xhtml:div>
    </xhtml:div>
    <xhtml:span class="text-anchor" id="erl_1_3_1"/>
    <xhtml:span class="text-anchor" id="erl_1_3_2"/>
    <xhtml:span class="text-anchor" id="erl_1_3_3"/>
    <xhtml:span class="text-anchor" id="erl_1_3_4"/>
    <xhtml:span class="text-anchor" id="erl_1_3_5"/>
    <xhtml:span class="text-anchor" id="erl_1_3_6"/>
    <xhtml:span class="text-anchor" id="erl_1_3_7"/>
    <xhtml:span class="text-anchor" id="erl_1_4_1"/>
    <xhtml:span class="text-anchor" id="erl_1_4_2"/>
    <xhtml:span class="text-anchor" id="erl_1_4_3"/>
    <xhtml:span class="text-anchor" id="erl_1_7_1"/>
    <xhtml:span class="text-anchor" id="erl_1_9_1"/>
    <xhtml:span class="text-anchor" id="erl_1_10_1"/>
    <xhtml:span class="text-anchor" id="erl_1_13_1"/>
    <xhtml:span class="text-anchor" id="erl_1_18_1"/>
</xhtml:div>
